{# app/Resources/views/layout.html.twig #}
<!doctype html>
<html>
    <head>
        <script type="text/javascript"
                src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}">
        </script>
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
            href="{{ asset('assets/custom/css/grid.css') }}">
        <link rel="stylesheet"
            href="{{ asset('assets/custom/css/footer.css') }}">
        <link rel="stylesheet"
            href="{{ asset('assets/custom/less/select.css') }}">
        <link rel="stylesheet"
            href="{{ asset('assets/custom/css/kyrr-search.css') }}">
        

        <script type="text/javascript" src="{{ asset('assets/custom/js/events.js') }}"></script>
    </head>
    <body>
    	<div class="container">

      <div class="page-header">
        <h1>Kyrr ♡ Pokémon ♡ Gen 1 &amp; 2</h1>
        <p class="lead">🌍 WIP Generation 1 &amp; 2 PokéDex 🌏</p>
      </div>

      <div class="kyrr-search">
        <input type="text" class="kyrr-search-input" name="search" id="search" placeholder="Search..." />
        <select class="kyrr-search-select">
          <option>Name</option>
          <option>Id</option>
          <option>Type</option>
        </select>
        <div class="kyrr-search-suggestion"></div>
       <!-- <div class="triangle-wrapper">
          <div class="triangle-right"></div>
        </div>-->
      </div>
      <h3></h3>
      <p><span id="rowCount">All</span> Pokémon.</p>
      <div class="row">
          <table class="table" id="pokemonTable">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <th>Icon</th>
            </tr>
          </thead>
           {% for monster in pokemon %}
           {% if monster.id <= generationCutoff.Gen1 %}
            <tr class="pokeRow pId{{ monster.id }} {{ monster.name }}">
            {% if monster.id < 10 %}
              <td><p class="pokeId pId{{ monster.id }} {{ monster.name }}">#00{{ monster.id }}</p></td>
            {% elseif monster.id < 100 %}
              <td><p class="pokeId pId{{ monster.id }} {{ monster.name }}">#0{{ monster.id }}</p></td>
            {% else %}
              <td><p class="pokeId pId{{ monster.id }} {{ monster.name }}">#{{ monster.id }}</p></td>
            {% endif %}
              <td><p class="pokeName pId{{ monster.id }} {{ monster.name }}">{{ monster.name }}</p></td>
              <td><p class="pokeType pId{{ monster.id }} {{ monster.name }}">{{ monster.type }}</p></td>
              <td><p class="pokeDescription pId{{ monster.id }} {{ monster.name }}">{{ monster.description }}</p></td>
              <td><img alt="icon for pokemon no. {{ monster.id }} {{ monster.name }}" src="/concert/web/assets/custom/images/pokemon/{{ monster.id }}.png"/></td>
            </tr>
            {% endif %}
          {% endfor %}
          </table>
      </div>
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Kyrro Industries 2016</p>
      </div>
    </footer>

    </body>
</html>